In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [65]:
df = pd.DataFrame()
url = "https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW"
result = requests.get(url)
doc = BeautifulSoup(result.text, "html.parser")
movie_table = doc.find_all("table")

movie_data = []
for row in movie_table[0].find_all("tr")[1:]:  # Skip the header row
    cells = row.find_all("td")
    current_title = cells[1].text
    current_gross = cells[2].text[1:]
    current_year = cells[3].text
    
    
    movie_data.append({"Title" : current_title,
                       "Lifetime Gross" : current_gross,
                       "Year" : current_year,
                      }
                     )
                       
temp = pd.DataFrame(movie_data)
df = pd.concat([temp, df])

for i in range(200,1000,200):
    url = "https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset="+str(i)
    result = requests.get(url)
    doc = BeautifulSoup(result.text, "html.parser")
    movie_table = doc.find_all("table")
    movie_data = []
    for row in movie_table[0].find_all("tr")[1:]:  # Skip the header row
        cells = row.find_all("td")
        current_title = cells[1].text
        current_gross = cells[2].text[1:]
        current_year = cells[3].text


        movie_data.append({"Title" : current_title,
                           "Lifetime Gross" : current_gross,
                           "Year" : current_year,
                          }
                         )

    temp = pd.DataFrame(movie_data, index = [i for i in range(i,i+200,1)])
    df = pd.concat([temp, df])
    
df

                                             Title Lifetime Gross  Year
800                            The Prince of Egypt    218,613,188  1998
801                                   Jack Reacher    218,340,595  2012
802                              Kingdom of Heaven    218,237,071  2005
803                                      Smallfoot    218,015,531  2018
804                                The Emoji Movie    217,776,646  2017
..                                             ...            ...   ...
195                            Night at the Museum    574,482,479  2006
196                           Fifty Shades of Grey    569,651,467  2015
197                             The Little Mermaid    569,626,289  2023
198                             Kong: Skull Island    568,652,812  2017
199  Mission: Impossible - Dead Reckoning Part One    567,535,383  2023

[1000 rows x 3 columns]

In [101]:
df[df["Title"].duplicated() == True]

                            Title Lifetime Gross  Year
948             The Addams Family    191,502,426  1991
642                  Total Recall    261,317,921  1990
701                      Hercules    244,819,862  2014
563                  Ghostbusters    296,578,797  1984
253  Teenage Mutant Ninja Turtles    485,004,754  2014
336                     The Mummy    409,231,607  2017
382                      Godzilla    379,014,294  1998
21           Beauty and the Beast  1,266,115,964  2017
42                        Aladdin  1,054,304,000  2019
57                  The Lion King    968,750,694  1994
58                The Jungle Book    967,724,775  2016
197            The Little Mermaid    569,626,289  2023

In [103]:
df[df["Title"] == "Total Recall"]

            Title Lifetime Gross  Year
914  Total Recall    198,467,607  2012
642  Total Recall    261,317,921  1990