In [2]:
from bs4 import BeautifulSoup
import requests
url = "https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW"

result = requests.get(url)
doc = BeautifulSoup(result.text, "html.parser")

In [26]:
movie_table = doc.find_all("table")

In [30]:
import pandas as pd
import numpy as np

In [80]:
movie_data = []
for row in movie_table[0].find_all("tr")[1:]:  # Skip the header row
    cells = row.find_all("td")
    current_title = cells[1].text
    current_gross = cells[2].text[1:]
    current_year = cells[3].text
    
    
    movie_data.append({"Title" : current_title,
                       "Lifetime Gross" : current_gross,
                       "Year" : current_year,
                      }
                     )
                       
                       

# Create a Pandas DataFrame
movie_data
df = pd.DataFrame(movie_data)

In [82]:
df

                                             Title Lifetime Gross  Year
0                                           Avatar  2,923,706,026  2009
1                                Avengers: Endgame  2,799,439,100  2019
2                         Avatar: The Way of Water  2,320,250,281  2022
3                                          Titanic  2,264,750,694  1997
4       Star Wars: Episode VII - The Force Awakens  2,071,310,218  2015
..                                             ...            ...   ...
195                            Night at the Museum    574,482,479  2006
196                           Fifty Shades of Grey    569,651,467  2015
197                             The Little Mermaid    569,626,289  2023
198                             Kong: Skull Island    568,652,812  2017
199  Mission: Impossible - Dead Reckoning Part One    567,535,383  2023

[200 rows x 3 columns]